<!-- sm_mysql_status.tmpl -->
<html>
<head>
<title>{$title|escape}</title>
</head>
<body bgcolor="white">

<p>Current time: {$now}</p>
<p>Server version: {$version}</p>
<p>Server uptime (seconds): {$uptime}</p>
<p>Queries processed: {$queries} ({$q_per_sec} queries/second)</p>

</body>
</html>

