<!-- sm_paragraphs.tmpl -->
<html>
<head>
<title>{$title|escape}</title>
</head>
<body bgcolor="white">

<p>Local time on the MySQL server is {$now|escape}.</p>
<p>The server version is {$version|escape}.</p>
<p>The current user is {$user|escape}.</p>
<p>The default database is {$db|escape}.</p>

</body>
</html>
