<!-- pt_mysql_status.tmpl -->
<html>
<head>
<title>[%var title :escapeHTML%]</title>
</head>
<body bgcolor="white">

<p>Current time: [%var now%]</p>
<p>Server version: [%var version%]</p>
<p>Server uptime (seconds): [%var uptime%]</p>
<p>Queries processed: [%var queries%] ([%var q_per_sec%] queries/second)</p>

</body>
</html>

