<!-- pt_paragraphs.tmpl -->
<html>
<head>
<title>[%var title :escapeHTML%]</title>
</head>
<body bgcolor="white">

<p>Local time on the MySQL server is [%var now :escapeHTML%].</p>
<p>The server version is [%var version :escapeHTML%].</p>
<p>The current user is [%var user :escapeHTML%].</p>
<p>The default database is [%var db :escapeHTML%].</p>

</body>
</html>

